$icomoon-font-path: "fonts" !default;

$icon-wechat: "\f1d7";
$icon-comment: "\f27b";
$icon-more-down: "\e900";
$icon-more-right: "\e901";
$icon-qrcode: "\e938";
$icon-mobile: "\e958";
$icon-list: "\e9ba";
$icon-arrow-up: "\ea32";

