* {
    font-family: 微软雅黑;
    font-size: 14px;
}
.bottom {
    width: 100%;
    margin: 0;
}
.topbar {
    width: 90em;
    height: 2em;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-bottom: 0.07em solid lightgrey;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*收藏本站*/
.left > span {
    margin:0 0 2em 2.5em;
    width: 5.14em;
    line-height: 2em;
    padding-left: 13px;
    border-left: 0.2em solid lightgray;
    border-right: 0.2em solid lightgray;
    float: left;
}
/*使垂直居中*/
.left li, .right li {
    line-height: 2em;
    margin-left: 1em;
}
.left ul li img {
    vertical-align: middle;/*小图像垂直居中*/
}
.left ul,li {
    float: left;
}
.right li {
    float: right;
}
