* {
    font-family: 微软雅黑;
    font-size: 14px;
}
body {
    margin: 0;
    height: 100%;
}
/*所有列表都初始为左浮动、水平居中*/
ul,li {
    float: left;
    text-align: center;
}

.top {
    width: 100%;
    margin: 0;
    background-color: #F7F7F7;
}
.top-content {
    width: 90em;
    height: 2em;
    margin: 0 auto;
    border-bottom: 0.07em solid lightgrey;
    background-color: #0099ff;/*test*/
}
.top-left {
    float: left;
}
.top-right {
    float: right;
    margin-right: 1em;
}
/*使垂直居中*/
.top-left li, .top-right li {
    line-height: 2em;
    margin-left: 1em;
}
.top-left ul li img, .top-right ul li img {
    vertical-align: middle;/*小图像垂直居中*/
}
/*收藏本站*/
.top-left li:first-child {
    margin-left: 0;
    width: 5.14em;
    line-height: 2em;
    padding-left: 1.4em;
    border-left: 0.2em solid lightgray;
    border-right: 0.2em solid lightgray;
}
.top a:link, .top a:visited {
    color: black;
}
.top a:hover, .top a:active {
    color: red;
}
.blue_link a:link, .blue_link a:visited {
    color: blue;
}
li.sub-list {
    clear: right;
}
/*logo及搜索区*/
.logoAndSearch {
    width: 100%;
    background-color: white;
    margin: 0 auto;
}
.logoAndSearch_content {
    width: 90em;
    height: 6.64em;
    margin: 0 auto;/*居中*/
    /*background-color: yellow;*/
}
.logo {
    float: left;
    width: 11.7em;
    height: 6.64em;
    margin: 0 1.3em;
    /*与下面的vertical-align: middle共同使logo垂直居中*/
    line-height: 6.64em;
    /*background-color: green;*/
}
.logo img {
    vertical-align: middle;
}
/*搜索部分底盒*/
.search {
    float: left;
    /*background: lightgrey;*/
    height: 5.4em; /*注意不是6.64em?*/
    width: 32.64em;
    margin-top: 0;
    margin-left: 15em;
    padding-top: 1.2em;/*搜索框竖直居中的替代方案*/
}
/*搜索框，暂时选用背景图像的方案，以后改为css图*/
.frame {
    background: url("../images/search-box.png") no-repeat;
    height: 2.6em;
}
/*调整搜索文字部分在搜索框的位置*/
.search_text {
    width: 24em;
    height: 1.7em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    border: none;
    float: left;
}
/*语音输入图标*/
.frame img {
    float: left;
    margin-left: 0.6em;
    margin-top: 0.5em;
}
/*"搜索"*/
.frame span a {
    width: 4.0em;
    height: 1.8em;
    margin-top: 0.1em;
    margin-right: 0.3em;
    line-height: 1.8em;
    float: right;
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
    text-align: center;
}

.list {
    float: left;
}
.list a {
    font-size: 0.9em;
    color: black;
    padding: 0 0.5em;
}
.list a:hover, .list a:active {
    color: red;
}
/*第三列-逛逛*/
.stroll {
    background: url("../images/stroll.png") no-repeat;
    width: 10.5em;
    height: 2.7em;
    float: right;
    margin-top: 1.2em;
    /*background-color: aqua;*/
}
.stroll a {
    display: block;
    font-size: 0.6em;
    padding: 1em 0em 0em 5em;
    color: black;
}
/*导航区*/
.nav {
    width: 100%;
    margin: 0;
    background-color: #A40000;
    height: 3em;
}
nav {
    width: 90em;
    height: inherit;
    margin: 0 auto;
}
/*导航左区*/
.nav_left {
    width: 16.6em;
    height: inherit;
    line-height: 3em;
    float: left;
    background-color: #720000;
}
/*"全部分类"*/
.nav_left span a {
    color: white;
    font-size: 1.2em;
}
.nav_left li:first-child {
    padding: 0.2em 1.2em 0;/*调整图标与文字的相对位置*/
}
.nav_left li:last-child {
    padding-left: 6em;
}
/*导航中区*/
.nav_middle {
    width: 56em;
    height: inherit;
    line-height: 3em;
    float: left;
}
.nav_middle ul li:last-child {

}
.nav_middle a {
    display: block;
    font-size: 1.2em;
    color: white;
    padding: 0 1.712em;
}

.nav_middle a:hover, .nav_middle a:active {
    color: black;
    background-color: #ff6775;
}
/*导航右区*/
.nav_right {
    float: left;
    width: 17.4em;
    height: inherit;
    line-height: 3em;
    background-color: #ff6775;
}
.nav_right a {
    display: block;
    padding: 0 5.03em;
    font-size: 1.2em;
    color: black;
}
.nav_right a:hover, .nav_right a:active {
    color: white;
    background: #A40000;
}
/*使购物车图标垂直居中*/
.nav_right img {
    vertical-align: middle;
}
/*main区*/
main {
    width: 100%;
    height: 40em;
    background-color: #E5E4E4;
}
.main_content {
    width: 90em;
    margin: 0 auto;
    height: 40em;
}
/*左栏*/
.main_left {
    float: left;
    width: 16.6em;
    height: inherit;
    background-color: white;
}
.main_left li {
    height: 3.2em;
    width: 16.6em;
    /*padding-left: 1em;*/
    border-bottom: 0.2em solid #E5E4E4;
}
.main_left li span {
    color: grey;
}
.main_left li a {
    display: block;
    height: 3.2em;
    padding: 0.2em 1em 0;
}
.main_left li a:hover, .main_left li a:active {
    color: white;
    background-color: #A40000;
}
/*">"*/
.more {
    float: right;
}
/*!*test*!
.main_left li:first-child {
    background-color: yellow;
}*/
/*焦点图*/
.main_middle {
    float: left;
    width: 56em;
    height: inherit;
}
#picBox {
    height: 16.68em;
}
/*积分区*/
.tally {
    width: 56em;
    height: 15.2em;
    background-color: white;
    border-bottom: 0.2em solid lightgrey;
}
.tally_left {
    width: 15.1em;
    height: 15em;
    float: left;
}
/*标题*/
.tally_left div:first-child {
    width: inherit;
    height: 2em;
    color: white;
    font-size: 1.2em;
    line-height: 2em;
    text-indent: 1.5em;/*缩进*/
    letter-spacing: 0.2em;/*字间距*/
    background-color: #8B2B2B;
}
.tally_left div:last-child {
    position: relative;
    height: 12.5em;
    border: 0.1em solid lightgray;
}
.tally_left div:last-child li:last-child {
    position: absolute;
    left: 1em;
    top: 0.8em;
    letter-spacing: 0.2em;
}
.tally_left div:last-child img {
    width: 100%;
    height: 12.5em;/*100%不起作用，why？*/
}
.tally_left div:last-child:hover, .tally_left div:last-child:active {
    border: 0.1em solid red;
}
/*背景图像的方案，舍弃*/
/*.tally_left div:last-child {
    font-size: 1.1em;
    letter-spacing: 0.2em;
    text-indent: 1em;
    line-height: 1.6em;
    background: url("../images/vip.gif");
    background-size: 100% 100%;!*调整图片大小适应块大小*!
    !*background-color: lightcoral;*!
    height: 11.6em;!*渐进调的大小，why?*!
}*/
.tally_left span {
    color: red;
}
.tally_right {
    width: 40.9em;
    height: inherit;
    float: left;
}
.tally_right div:first-child {
    height: 2em;
    color: white;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0 auto;
    text-indent: 1.5em;/*缩进*/
    letter-spacing: 0.2em;/*字间距*/
    background-color: #9B4F25;
}
/*.tally_right div:first-child li {
    height: inherit;
}*/
.tally_right div:first-child ul li:first-child {
    font-size: 1.2em;
}
.tally_right div:first-child ul li:last-child {
    float: right;
    padding: 0 1em 0 12em;/*padding也能起到调节宽度的作用*/
}
.tally_right div:first-child ul li:last-child a {
    color: white;
}
.tally_right div:first-child ul li:last-child img {
    vertical-align: middle;
}
.tally_right div:last-child {
    padding-left: 0.95em;
}
.tally_right div:last-child ul li {
    position: relative;/*文字绝对定位的参照*/
    width: 12em;
    margin: 0.5em 0.4em;
    height: 11.5em;
    border: 0.1em solid lightgrey;
}
.tally_right div:last-child ul li span {
    display: block;
    font-size: 1em;
    float: left;
    position: absolute;/*利用绝对定位*/
    left: 1em;
    top: 0.5em;
}
.tally_right div:last-child ul li img {
    width: 100%;
    height: 100%;
}
/*山城啤酒等三个图片链接，此方案为背景图的方式，不考虑*/
/*
.tally_right div:last-child ul li:first-child {
    background: url("../images/shancheng.jpg");
    background-size: 100% 100%;
}
.tally_right div:last-child ul li:last-child {
    background: url("../images/cup.jpg");
    background-size: 100% 100%;
}
.soymilk {
    background: url("../images/jiuyang.jpg") no-repeat;
    background-position: 50% 80%;
    background-size: 80% 80%;
}*/
.tally_right div:last-child li:hover, .tally_right div:last-child li:active {
    border: 0.1em solid red;/*三个图像链接加上红色边框*/
}
/*不加力ul及li无效，why？*/
.tally_right div:first-child ul li a:hover, .tally_right div:first-child ul li a:active {
    color: red;/*逛逛*/
}
/*活动区*/
.events {
    width: 56em;
    height: 7.15em;
    background-color: white;
    /*padding: 0.1em 0.1em;*//*会影响总的宽度，不加为好*/
}
.events ul li {
    margin: 0.1em 0.1em;
    width: 18.3em;
    float:left;
    height: 7.0em;
    border: 0.1em solid lightgrey;
}
.events img {
    width: 100%;
    height: 100%;
}
.events ul li:hover, .events ul li:active {
    border: 0.2px solid red;
}
/*main右侧内容*/
.main_right {
    float: left;
    width: 17.2em;
    height: 40em;
    background-color: darkgoldenrod;
    border: 0.1em solid lightgrey;
}
/*三包内容*/
.guarantees {
    width: 17.2em;
    height: 4em;
    background-color: crimson;
  }
.guarantees img {
    width: 100%;
    height: 100%;
}
/*团购区*/
.groupbuy {
    height: 17em;
    border: 0.1em solid lightgray;
}
.groupbuy div:first-child {
    padding: 0 2.5em 0 0.6em;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    height: 2em;
    line-height: 2em;
    background-color: #E5E4E4;
}
.groupbuy img {
    vertical-align: middle;
}
.shirts {
    height: 14.5em;
    background-color: white;
}
.shirts li:first-child {
    height: 9em;
    width: 17em;
}
.shirts li:first-child img{
    width: 100%;
    height: 100%;
}
.brand {
    text-indent: 4em;
    height: 1.5em;
    line-height: 1.5em;
}
.price {
    background: url("../images/price_bg.png") no-repeat;
    /*background-color: lawngreen;*/
    line-height: 2em;
    width: 17.2em;
    text-indent: 3em;
    background-size: 99% 99%;
    color: white;
}
/*使带删除线的数字变小*/
.price span s {
    font-size: 0.8em;
}
.price span:last-child {
    display: block;
    float: right;
    padding-right: 1.5em;
}
.sales {
    height: 2em;
    line-height: 2em;
    padding: 0 0.63em 0 0.63em;
    /*background-color: ;*/
}
.sales span {
    color: red;
}
.groupbuy:hover, .groupbuy:active {
    border: 0.1em solid red;
}
/*彩票、话费充值及网游点卡*/
.pre_paid {
    height: 13.2em;
    border: 0.1em solid lightgray;
    background-color: white;
}
.choice {
    height: 2.5em;
    border-bottom: 0.1em solid lightgray;
    /*background-color: coral;*/
}
.choice ul li {
    padding: 0 1.768em;
    height: 2.5em;
    line-height: 2.5em;
    border: 0.1em solid lightgray;
    /*background-color: crimson;*/
}
/*表单内容区*/
/*label {
    width: 4em;
}*/
.choice_content {
    width: 17em;
    height: 10.5em;
    border: 0.1em solid lightgray;
    background-color: white;
}
/*form {
    float: left;
    overflow: hidden;
    padding: 1em 0.5em;
    background-color: darkcyan;
}*/
label {
    display: inline-block;
    text-align: right;
    justify:inter-ideograph;
    width: 5em;
}
#phone_number {
    padding: 0 0.5em;
    width: 10em;
    border: 0.1em solid cornflowerblue;
}
select {
    padding: 0 2em 0 0.2em;
    border: 0.1em solid cornflowerblue;
}
.form {
    padding: 0.5em 0 0 0;
    float: left;
}
.form p {
    height: 2.5em;
    line-height: 2.5em;
}
.form span {
    color: red;
}
.form span a {
    padding: 0 1em;
    font-size: 1em;
    color: grey;
}
.btn {
    margin-left: 1em;
    width: 5.5em;
    height: 2em;
    border: none;
    background-color: #FF7300;
    color: white;
}
label {
    text-align: left;/*选项紧靠按钮*/
}
.phone_bill label {
    text-align: right;
    float: left;
}
/*游戏*/
.game, .travel {
    float: left;
    display: none;
}
.radio {
    padding-left: 3em;
}
/*旅游*/
.travel /*p:first-child */ul li a {
    float: left;
    font-size: 0.85em;
    padding: 0 0.08em;
}
.travel label {
    margin-left: 1em;
    width: 2.5em;
    height: 1.2em;
    line-height: 1.2em;
   /* background-color: cyan;*/
}
#oneway, shuttle {
    margin-left: 1em;
}
label.way {
    margin-left: 0;
    text-align: left;
}
.choice1 {
    width: 4em;
    height: 1.2em;
    line-height: 1.2em;
}
/*不加p的话height不起作用，why？*/
p.domestic {
    height: 1.5em;
    display: inline-block;
    margin-bottom: 0.2em;
}
.travel a:hover, .travel a:active {
    color: red;
}
.choice a:hover, .choice a:active {
    color: red;
}
/*旅行区提交按钮*/
.btn1 {
    margin: 0.5em 0.2em 0.5em 1em;
    width: 5em;
    height: 2em;
    border: none;
    background-color: #FF7300;
    color: white;
}
